body {
  font-size: 1.75rem;
  color: white;
  background-color: #787878;
}

#grid {
  width: 75vh;
  height: 75vh;
  padding: 10px;
  display: grid;
  gap: 2px;
}
#grid div.off {
  background-color: black;
}
#grid div.on {
  background-color: white;
}
