//sass --no-source-map --watch style.scss style.css

body {
  background-color: #787878;
}

#grid {
  width: 1000px;
  height: 1000px;
  padding: 10px;
  display: grid;
  gap: 2px;

  div {
    &.off {
      background-color: black;
    }
    &.on {
      background-color: white;
    }
  }
}
