//sass --no-source-map --watch style.scss style.css

body {
  font-size: 1.75rem;
  color: white;
  background-color: #787878;
}

#grid {
  width: 75vh;
  height: 75vh;
  padding: 10px;
  display: grid;
  gap: 2px;

  div {
    &.off {
      background-color: black;
    }
    &.on {
      background-color: white;
    }
  }
}
