body {
  padding: 2%;
  font-size: 1.75rem;
  color: white;
  background-color: #515151;
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

#new-automata {
  form#create-ca {
    width: fit-content;
    margin: 2% 0;
    padding: 20px;
    color: black;
    background-color: #d9d9d9;

    p { font-size: 1.25rem; }
    .form-input { margin-bottom: 5px; }
    label { margin-right: 1rem; }
    input:not([type='submit']), select { float: right; }
  }
}

.info {
  display: none;

  &#ca-info {
    #automata-title {
      font-size: 2rem;
      font-weight: bold;
      font-variant: small-caps;
      text-decoration: underline;
    }
    p { margin: 0; }
  }
  &#rule-info {
    margin: 2% 0 5%;

    #rule-display {
      width: calc(100% - 30px);
      padding: 15px;
      display: block;
      background-color: #a0a0a0;
    }
  }
}

#automata {
  display: none;
  clear: both;

  #menu {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: black;
    background-color: #d9d9d9;

    #iterate { float: right; }
  }

  #grid {
    width: 100%;
    image-rendering: pixelated;
  }
}