body {
  font-size: 1.75rem;
  color: white;
  background-color: #626262;
}

#new-automata {
  padding: 2%;
  float: right;

  form#create-ca {
    width: fit-content;
    margin: 2% 0;
    padding: 20px;
    color: black;
    background-color: #d9d9d9;

    p { font-size: 1.25rem; }
    .form-input { margin-bottom: 5px; }
    label { margin-right: 1rem; }
    input:not([type='submit']) { float: right; }
  }
}

#info {
  padding: 2%;
  float: left;
  display: none;

  #automata-title {
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: underline;
  }
  p { margin: 0; }
}

#automata {
  display: none;
  padding: 2%;
  clear: both;

  #menu {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: black;
    background-color: #d9d9d9;

    #iterate { float: right; }
  }

  #grid {
    width: 100%;
    image-rendering: pixelated;
  }
}