body {
  font-size: 1.75rem;
  color: white;
  background-color: #787878;
}

#presets {
  margin-bottom: 2%;
  float: left;

  button {
    display: block;
    margin-top: 15px;
  }
}

#new-automata {
  float: right;

  form#create-ca {
    width: fit-content;
    margin: 2% 0;
    padding: 20px;
    color: black;
    background-color: #d9d9d9;

    .form-input { margin-bottom: 5px; }
    label { margin-right: 1rem; }
    input:not([type='submit']), select { float: right; }
    fieldset {
      width: 80%;
      margin-top: 15px;
      legend { font-weight: bold; }
    }

    #rule { display: none; }
    .rule {
      margin-bottom: 15px;
      padding: 10px;
      background-color: rgba($color: white, $alpha: 0.5);
    }
  }
}

#automata {
  display: none;
  clear: both;

  #grid {
    width: 95vh;
    height: 95vh;
    padding: 10px;
    display: grid;
    // gap: 2px;
    // overflow: scroll;
    // resize: both;

    div {
      &.off {
        background-color: black;
      }
      &.on {
        background-color: white;
      }
    }
  }
}